@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Данный сервис предназначен для бронирования аудиторий для проведения мероприятий.</p>
</div>
