@using classroomLibrary.ViewModels;
@model List<Event>
@{
	ViewData["Title"] = "Список мероприятий";
}
<div class="d-flex">
    <div style="margin-inline-end:5px">
        <label for="site-search">Поиск:</label>
        <input type="search" id="textsearch" name="city" />
        <input class="btn btn-info" type="button" id="buttonSearch" value="Найти" />
    </div>
    <a class="btn btn-warning " asp-area="" asp-controller="Events" asp-action="Create">Создать новое мероприятие</a>
</div>
<form asp-controller="Events" asp-action="Duplicate">
    <label for="week">Дублировать выбранные занятия на</label>
    <select id="week" name="week">
        <option selected value="1">каждую неделю</option>
        <option value="2">каждые 2 недели</option>
    </select>
    <label for="week">до</label> <input type="date" id="dateEnd" name="dateEnd" required value="@DateTime.Now.ToString("yyyy-MM-dd")" />
    <input class="btn btn-success" type="submit" value="Дублировать" />

@if (Model.Any())
{
        <div class="table-responsive">
        <table border="1" class="table  tablesorter-dark" id="myTable">
            <caption style="caption-side: top">Список городов</caption>
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Название</th>
                    <th scope="col">Тип</th>
                    <th scope="col">Класс</th>
                    <th scope="col">Дата</th>
                    <th scope="col">Урок</th>
                    <th scope="col">Ответственный</th>
                    @if (User.IsInRole("Admin"))
                    {
                        <th scope="col">Функции</th>
                    }
                </tr>
            </thead>
            <tbody id="objList">
                @{
                    foreach (Event evento in Model.ToList())
                    {
                            @await Html.PartialAsync("Element/Event", evento)
                    }
                }
            </tbody>
        </table>
        </div>
        <div id="pager" class="pager">
            <form>
                <img src="img/first.png" class="first" />
                <img src="img/prev.png" class="prev" />
                <input type="text" class="pagedisplay" />
                <img src="img/next.png" class="next" />
                <img src="img/last.png" class="last" />
                <select class="pagesize">
                    <option selected="selected" value="2">2</option>
                    <option value="4">4</option>
                    <option value="6">6</option>
                    <option value="8">8</option>
                </select>
            </form>
        </div>
}
else
{
<h3>
    <small class="text-muted">Здесь будут ваши мероприятия</small>
</h3>
}
</form>
<script>
    $(document).ready(function () {
        $("#myTable").tablesorter({
            widgets: ['zebra'],
            debug: true,
            widthFixed: true
        }).tablesorterPager({
            size: 2,
            container: $('#pager'),
            positionFixed: false,
            page: 1,
            cssNext: '.next',
            cssPrev: '.prev',
            cssPrev: '.first',
            cssPrev: '.last',
        });
    });
    async function deleteObj(id) {
        const response = await fetch(`Events/Delete/`+id, {
            method: "DELETE",
            headers: { "Accept": "application/json" }
        });
        if (response.ok === true) {
            const user = await response.json();
            document.getElementById(id).remove();
        }
        else {
            const error = await response.json();
            console.log(error.message);
        }
    }
    $('#buttonSearch').on('click', function () {
        var search = document.getElementById("textsearch").value;
        $.ajax({
            type: 'POST',
            url: 'Events/Search?search=' + search,
            success: function (response) {
                document.getElementById("objList").innerHTML = response;

            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });
</script>